body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.headerWrapper {
    position: sticky;
    top: 0;
}

header {
    background-color: #784774;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header a {
    text-decoration: none;
    padding: 10px;
    border-radius: 10px;
    color: white;
}

header a:hover {
    background-color: #543252;
}

.header-right {
    display: flex;
    align-items: center;
}

.header-right a {
    margin-right: 15px;
    color: white;
    font-size: 17px;
    background-color: #694066;
}

img {
    height: 40px;
    width: auto;
}

.navbar {
    position: sticky;
    top: 84px;
    background-color: #c68da8;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar a {
    margin-right: 15px;
    text-decoration: none;
    color: white;
    padding: 8px;
}

.navbar a:hover {
    background-color: #ab758e;
    border-radius: 10px;
}

.search-bar {
    display: flex;
    align-items: center;
    border-radius: 10px;
}

.search-bar input[type="text"] {
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 10px;
}

.search-bar button {
    padding: 10px 13px;
    margin-left: 5px;
    background-color: #543252;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.search-bar button:hover {
    background-color: #3a213a;
}

#magnifying-glass {
    height: 15px;
    width: auto;
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.hamburger div {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 4px;
}

.nav-links {
    display: flex;
}
#logInHide,#signInHide{
    display: none;
}

@media screen and (max-width: 750px) {
    header {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    #logInHide,#signInHide{
        display: block;
    }

    .header-right {
        display: none;
    }

    .navbar {
        top: 84px;
        flex-direction: column;
        align-items: flex-start;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
    }

    .nav-links a {
        margin-right: 0;
        margin-bottom: 10px;
        width: 100%;
        text-align: left;
        font-size: 15px;
    }

    .search-bar {
        margin-top: 10px;
        width: 100%;
    }

    .search-bar input[type="text"] {
        width: 100%;
    }

    .search-bar button {
        width: 30%;
        margin-left: 0;
        margin-top: 0px;
    }

    .hamburger {
        display: flex;
    }

    .navbar.show .nav-links {
        display: flex;
    }
}

.content {
    padding: 20px;
}