<html>
    <link rel="stylesheet" href="../../styles/components-css/CFE-product-card.css" />
    <link rel="stylesheet" href="../../styles/root.css" />

    <div class="product-container">
        <div class="picture-container">
            <span class="heart-icon">&#10084;</span>
        </div>

        <h1 class="product-name">Lorem Ipsum</h1>
        <h4>&#9733; &#9733; &#9733; &#9733; &#9733;</h4> <br>
        <p>&euro; 99,99</p>
        <p>www.productsite.com</p>

        <button class="product-button">></button>
    </div>
</html>
