<link rel="stylesheet" href="../../styles/components-css/CFE-product-card.css" />
<link rel="stylesheet" href="../../styles/root.css" />
<script src="./modules/apiService.js"></script>

<div class="product-container">
    <div class="picture-container">
        <span class="heart-icon">&#10084;</span>
    </div>

    <h1 class="product-name">Lorem Ipsum</h1>
    <h4>&#9733; &#9733; &#9733; &#9733; &#9733;</h4> <br>
    <p>&euro; 99,99</p>
    <!-- <p>www.productsite.com</p> -->

    <button class="product-button">></button>
</div>

<div id="test"></div>


<script type="module">
    fetch('https://localhost:3000/products').then(async (response) => {
        await response.json();
        for (let product in response) {
            console.log(product);
        }
    })

    // const api = new apiService('https://localhost:3000/')
    // api.get('/products').then((response) => {
    //     for (product in response) {
            console.log(product);

            let htm = "<div class='product-container'>";
                    htm += "<div class='picture-container'>";
                        htm += "<span class='heart-icon'>&#10084;</span>";
                    htm += "</div>"
                    biertjes.forEach(function (biertje, index) {
                        htm += "<tr>";
                        htm += "<h1 class='product-name'>" + product.title + "</h1>";
                        htm += "<h4>&#9733; &#9733; &#9733; &#9733; &#9733;</h4> <br>";//rating has to come from somewhere else still
                        htm += "<p>&euro;" + product.price +"</p>";
                        htm += "<button class='product-button'>></button>";
                    });
                htm += "</div>";
        }
    //
    //     document.getElementById("test").innerHTML = htm;
    // })
    // .catch(function (error) {
    //     console.error(error);
    // });
</script>