<div class="footerDiv">
    <footer>
        <div class="footerMain">
            <div class="footerMainTop">
                <div class="footerPartOne">
                    <div class="footerLogo">
                        <a href="#CFE-home.html"><img src="slogannLogo.png" class="footerLogo"></a>
                    </div>
                </div>
                <div class="footerPartTwo">
                    <div class="footerContent">
                        <h2 class="footerTitle">CONTENT</h2>
                        <ul>
                            <li>
                                <a href="#CFE-home.html">
                                    <h3>Home</h3>
                                </a>
                            </li>
                            <li>
                                <a href="#CFE-product-overview.html">
                                    <h3>Products</h3>
                                </a>
                            </li>
                            <li>
                                <a href="#CFE-add-product.html">
                                    <h3>Add Your Own Products</h3>
                                </a>
                            </li>
                            <li>
                                <a href="#CFE-account-and-settings.html">
                                    <h3>Account</h3>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="footerTwoContainer">
                        <h2 class="footerTitle">GET IN TOUCH</h2>
                        <div class="footerContact">
                            <ul>
                                <li>
                                    <h3>Phone number: <a href="">+123 456 7890</a></h3>
                                </li>
                                <li>
                                    <h3>E-mail:<a href=""> stifsearch@gmail.com</a> </h3>
                                </li><br>
                                <li>
                                    <h2>FOLLOW US</h2><br>
                                    <div class="footerSocialMedia">
                                        <a href="https://www.instagram.com/"><img class="instagram"
                                                                                  src="instagram (1).png"></a>
                                        <a href="https://www.youtube.com/"><img class="facebook"
                                                                                src="youtube.png"></a>
                                        <a href="https://www.facebook.com/"><img class="youtube"
                                                                                 src="facebook (1).png"></a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footerMainBottom">
                <hr><br>
                <div class="footerBottomContent">
                    <div class="footerBottomOne">
                        <h3>© 2024 Siftsearch. All Rights Reserved</h3>
                    </div>
                    <div class="footerBottomTwo">
                        <a href="https://policies.google.com/">
                            <h3>PRIVACY POLICY</h3>
                        </a>
                        <a href="https://policies.google.com/terms?hl=en-US">
                            <h3>TERMS AND CONDITIONS</h3>
                        </a>
                    </div>
                </div>

            </div>
        </div>

    </footer>
</div>