<!DOCTYPE html>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../styles/components-css/CFE-product-overview.css" />
    <link rel="stylesheet" href="../../styles/root.css" />

    <iframe src="./CFE-header.html" width="100%" height="auto" frameborder="0"></iframe>

    <iframe src="./CFE-product-card.html" width="100%" height="500px" frameborder="0"></iframe>
    href="#/product"

    <div class="overview-container">
        <div class="overview-image">
            <span class="heart-icon">&#10084;</span>
        </div>

        <h1>Lorem Ipsum</h1>
        <h2>&#9733; &#9733; &#9733; &#9733; &#9733;</h2>
        <h1>&euro; 99,99</h1>
        <h2>Poduct description:</h2>
        <div class="description-container" id="description">
            <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Reiciendis cum optio fugit deleniti quidem. Quaerat, unde. Aliquid beatae, qui minus fugit, deserunt ullam blanditiis eum eligendi sit odit saepe quas!
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quo rem esse ullam, adipisci excepturi in eaque accusantium possimus, sed quam voluptatum sint nobis tempora perferendis cumque cupiditate quas odit fugit?
            </p>
        </div>
            <button class="btn" id="readMoreBtn" onclick="toggleDescription()">Read more</button> <br><br>
        <h2>Reviews</h2>
            <div class="review-container"></div>
    </div>

    <script type="text/javascript" src="../../functions/CFE-description.js"></script>
</html>